*{
	padding: 0px;
	margin:0px;
}
@font-face {
    font-family: 'myFirstFont';
    src: url(MyriadProRegular.ttf);
}
body{
	background: #dbdcde;
}
table{
	margin: 100px auto;
	background: #f7f7f7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f7f7f7, #b6b6b6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f7f7f7, #b6b6b6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f7f7f7, #b6b6b6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f7f7f7, #b6b6b6); /* Standard syntax */
    padding: 15px;
}
#Screen{
	overflow: hidden;
	padding: 0px 5px;
	text-align: right;
	font-weight: normal;
	width: 310px;
	height: 62px;
	border: 0px;
	border-radius: 5px;
	background: #ffde4c;
}
h2{
	font-family: myFirstFont;
	font-size: 36px;
}

tbody tr td{
	background: #eeeeee;
	text-align: center;
	
}
tbody tr td a{
	padding: 5px 5px;
	display: block;
	font-family: Arial;
	font-size: 26px;
	text-decoration: none;
}
input{
	width: 100%;
	font-family: Arial;
	font-size: 26px;
	color:#5f5f5f;
	text-transform: uppercase;	
	padding: 5px 5px;
}
input:focus{
	outline: none;
}